body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    color: white;
    box-sizing: border-box;
    background-color: rgb(8, 1, 1);
}

/* header */
.main-image {
    background: url(../images/main.jpg) center/cover no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(255, 6, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(18, 10, 10);
    margin: 3;
}

.logo span {
    font-size: 1em;
    font-weight: bold;
    color: rgb(248, 15, 248);
}